.content {
    .head-title {
        line-height: 34px;
        font-size: 18px;
        font-weight: bold;
        color: #5bc0de;
    }
    .well {
        img, div {
            height: 150px;
            width: 150px;
            background-size: cover;
            margin: 0 10px 10px 0;
        }
        .add-div {
            background-image: url(/assets/images/add_image.jpg);
            background-size: cover;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            z-index: 10px;
        }
        .uplaod-image {
            font-size: 120px;
            position: absolute;
            right: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        .image-div {
            cursor: pointer;
            background-position: center;
            background-size: cover;
            .close {
                display: none;
                opacity: 1;
                color: red;
                &:hover {
                    color: red;
                }
            }
            &:hover {
                .close {
                    display: block;
                }
            }
        }
    }
}