<div class="content" style="background:#dceffe">
  <!-- 错误信息提示框 -->
  <div class="tip-postion" *ngIf="isShowErrorTip">
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-info-sign"></span>
        <div class="w10"></div>{{errorMessage}}
      </div>
  </div>
  <!-- 成功信息提示框 -->
  <div class="tip-postion" *ngIf="isShowSuccessTip">
      <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span>
        <div class="w10"></div>{{successMessage}}
    </div>
  </div>
  <!-- 人物预览 -->
  <div id="myModal" class="modal">
    <span class="close" (click)="closePreview()">×</span>
    <img class="modal-content" [src]="previewUserInfo?.headSculptureUrl" alt="loading" width="350px;">
    <div id="caption">性别：{{previewUserInfo?.sex}}<br>简介：{{previewUserInfo?.profile}}</div>
  </div>
  <div class="h90"></div>
  <div class="container clearfix">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="post-skin">
          <h2>从来佳茗似佳人。——苏东坡</h2>
          <div class="text-center"><a class="btn btn-primary cp" (click)="moveToComment()" style="margin-bottom: 20px">发帖</a></div>
        </div>
      </div>
      <div style="height: 20px;"></div>
      <div *ngFor="let post of postList" class="post-div clearfix">
        <div class="col-md-3 text-center">
          <div style="display:inline-block">
            <a class="thumbnail cp" style="margin-bottom: 5px;">
              <div *ngIf="post?.user" class="head" (click)="previewUser(post?.user)" [style.background-image]="'url(' + post?.user.headSculptureUrl + ')'"></div>
            </a>
            <p>{{post?.user.userName}}</p>
          </div>
        </div>
        <div class="col-md-9">
          <p><a [routerLink]="['/home/post-detail', post.postId]">{{post?.title}}</a></p>
          <div [innerHtml]="post?.content" class="post-list"></div>
          <div class="text-right" style="color: #999">
            {{post?.createTime | date: 'yyyy-MM-dd HH:mm'}}&nbsp;&nbsp;&nbsp;
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation" class="clearfix" style="padding-right:30px;margin-top:20px">
        <p-button class="pull-right" (onClick)="goPage()" label="GO" style="margin: 5px;"></p-button>
        <input type="text" class="form-control pull-right pagination-input" name="pageForSkip" [(ngModel)]="pageForSkip" (keypress)="removeChar($event)"/>
        <span class="pull-right pagination-span">共{{total}}条/共{{pages}}页</span>
        <ul class="pagination pull-right">
          <li [class.disabled]="pageNum === 1">
            <a (click)="prePage()" aria-label="Previous" class="cp">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li>
            <a (click)="skipPage(1)" aria-label="firstPage" class="cp">首页</a>
          </li>
          <li *ngIf="pageNum - 2 > 0"><a (click)="skipPage(pageNum - 2)" class="cp">{{pageNum - 2}}</a></li>
          <li *ngIf="pageNum - 1 > 0"><a (click)="skipPage(pageNum - 1)" class="cp">{{pageNum - 1}}</a></li>
          <li class="active"><a (click)="skipPage(pageNum)" class="cp">{{pageNum}}</a></li>
          <li *ngIf="pageNum + 1 <= pages"><a (click)="skipPage(pageNum + 1)" class="cp">{{pageNum + 1}}</a></li>
          <li *ngIf="pageNum + 2 <= pages"><a (click)="skipPage(pageNum + 2)" class="cp">{{pageNum + 2}}</a></li>
          <li>
            <a (click)="skipPage(pages)" aria-label="lastPage" class="cp">末页</a>
          </li>
          <li [class.disabled]="pageNum === pages">
            <a (click)="nextPage()" aria-label="Next" class="cp">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- 发帖框 -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2" style="margin-top: 20px;" id="post">
        <form #postForm="ngForm" (ngSubmit)="submit()">
          <div class="form-group">
            <input type="text" class="form-control" name="title" [(ngModel)]="title" required #localTitle="ngModel"
             id="title" placeholder="请输入标题" maxlength="50"/>
          </div>
          <div class="ui-widget ui-editor-container ui-corner-all post-area" style="margin-bottom: 15px;">
            <div class="ui-editor-toolbar ui-widget-header ui-corner-top ql-toolbar ql-snow ng-star-inserted" style="position: relative;">
              <div class="expression" *ngIf="isShowExpression">
                <table>
                  <tbody>
                    <tr *ngFor="let array of expressionArray">
                      <td *ngFor="let expression of array" class="cp" (click)="addExpression(expression)">
                        <img src="{{expression}}" alt="loading"/>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="link" *ngIf="isShowLink">
                <form (ngSubmit)="addLink()" #linkForm="ngForm">
                  <div>
                    <label for="linkName">名称</label>
                    <input type="text" class="form-control" name="linkName" maxlength="20" [(ngModel)]="linkName" id="linkName"
                    #localLinkName="ngModel" required placeholder="限20个字" [class.red-border]="localLinkName.touched && localLinkName.invalid"/>
                  </div>
                  <div>
                    <label for="">网址</label>
                    <input type="text" class="form-control" name="linkAddress" maxlength="200" [(ngModel)]="linkAddress" 
                    #localLinkAddress="ngModel" required placeholder="限200个字" [class.red-border]="localLinkAddress.touched && localLinkAddress.invalid"/>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-default" [disabled]="!linkForm.form.valid" style="float:none;width:38px">保存</button>
                    <button type="button" class="btn btn-default" (click)="isShowLink=false" style="float:none;width:38px">取消</button>
                  </div>
                </form>
              </div>
              <span class="ql-formats">
                <button  class="ql-image" type="button" style="width: 80px" (click)="isShowExpression=!isShowExpression;">
                  <span class="fa fa-smile-o" style="font-size: 20px;"></span>&nbsp;&nbsp;&nbsp;表情
                </button>
              </span>
              <span class="ql-formats">
                <button  class="ql-image" type="button" style="width: 80px" (click)="chooseImage();isShowExpression=false">
                  <span class="fa fa-image" style="font-size: 20px;"></span>&nbsp;&nbsp;&nbsp;图片
                </button>
                <input type="file" id="image" style="display:none" accept="image/*" (change)="addImage($event)"/>
              </span>
              <span class="ql-formats">
                <button  class="ql-image" type="button" style="width: 80px" (click)="isShowLink=true;isShowExpression=false">
                  <svg viewBox="0 0 18 18"><line class="ql-stroke" x1="7" x2="11" y1="7" y2="11"></line>
                  <path class="ql-even ql-stroke" d="M8.9,4.577a3.476,3.476,0,0,1,.36,4.679A3.476,3.476,0,0,1,4.577,8.9C3.185,7.5,2.035,6.4,4.217,4.217S7.5,3.185,8.9,4.577Z"></path>
                <path class="ql-even ql-stroke" d="M13.423,9.1a3.476,3.476,0,0,0-4.679-.36,3.476,3.476,0,0,0,.36,4.679c1.392,1.392,2.5,2.542,4.679.36S14.815,10.5,13.423,9.1Z"></path></svg>链接</button>
              </span>
            </div>
            <div class="ui-editor-content ql-container ql-snow" style="height: 320px;background: white;">
              <div class="ql-editor" id="edit" contenteditable="plaintext-only" (click)="setSelectionAndRang();isShowExpression=false"
              style="box-sizing: content-box;word-wrap: break-word;" style="height: 310px;" (keyup)="setSelectionAndRang()"
              ></div>
            </div>
          </div>
          <div class="form-group text-center" style="margin-bottom: 35px;">
            <button type="submit" class="btn btn-primary" [disabled]="!postForm.form.valid">发表</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
