<div class="footer">
  <div class="container clearfix">
    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
      <ul>
        <li class="h4">关于</li>
        <li><a>关于我们</a></li>
        <li><a>联系我们</a></li>
        <li><a>友情链接</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
      <ul>
        <li class="h4">公司</li>
        <li><a>广告合作</a></li>
        <li><a>招聘</a></li>
        <li><a>团队</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
      <ul>
        <li class="h4">赞助商</li>
        <li><a href="https://www.baidu.com" target="_blank">百度</a></li>
        <li><a href="http://www.qq.com/" target="_blank">腾讯</a></li>
        <li><a href="http://www.alibabagroup.com" target="_blank">阿里巴巴</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-6">
      <ul>
        <li class="h4">联系信息</li>
        <li class="info">江苏扬州</li>
        <li class="info">Phone: 15161180976</li>
        <li class="info">QQ: 1756073941</li>
      </ul>
    </div>
    <div class="row">
      <p class="text-center">Copyright&nbsp;©&nbsp;2017-2018&nbsp;&nbsp;最终解释权归茶道平台所有</p>
    </div>
  </div>
</div>