<!-- loading -->
<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px'}"></ngx-loading> -->
<div class="content">
  <!-- 错误信息提示框 -->
  <div class="tip-postion" *ngIf="isShowErrorTip">
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-info-sign"></span>
        <div class="w10"></div>{{errorMessage}}
    </div>
  </div>
  <!-- 图片预览 -->
  <div id="myModal" class="modal">
    <span class="close" (click)="closePreview()">×</span>
    <img class="modal-content" [src]="previewUrl" alt="loading">
  </div>

  <!-- 成功信息提示框 -->
  <div class="tip-postion" *ngIf="isShowSuccessTip">
      <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span>
        <div class="w10"></div>{{successMessage}}
    </div>
  </div>

  <!-- 遮罩层 -->
  <p-blockUI [blocked]="isShowBlock"></p-blockUI>

  <!-- 添加轮播图 -->
  <div class="panel panel-default add-module" *ngIf="isShowAddModule">
    <div class="panel-heading">
      <span>添加轮播图模块</span>
    </div>
    <form (ngSubmit)="addCarouse()" #carouseForm="ngForm">
      <div class="panel-body">
        <div class="form-group">
          <label>轮播图片:</label><br/>
          <a class="btn btn-primary image-upload">
            <span [class]="uploadFont"></span><span class="upload-span">{{imageFileName}}</span>
            <input type="file" accept="image/*" class="image-input" (change)="onImageUpload($event)" name="imageFile"/>
          </a>
        </div>
        <div class="form-group">
          <label>轮播标题:</label>
          <input type="text" class="form-control" name="carouselFigureTitle" maxlength="20" [(ngModel)]="carouselFigureTitle" 
          #localCarouselFigureTitle="ngModel" required placeholder="限20个字" [class.red-border]="localCarouselFigureTitle.touched && localCarouselFigureTitle.invalid"/>
        </div>
        <div class="form-group">
          <label>轮播内容:</label>
          <textarea class="form-control" name="carouselFigureContent" maxlength="100" [(ngModel)]="carouselFigureContent"
          #localCarouselFigureContent="ngModel" required placeholder="限100个字" [class.red-border]="localCarouselFigureContent.touched && localCarouselFigureContent.invalid">
          </textarea>
        </div>
      </div>
      <div class="panel-footer clearfix">
        <button class="btn btn-default fr" type="button" (click)="cancelAddModule()">取消</button>
        <button class="btn btn-info fr mr10" type="submit" [disabled]="!carouseForm.form.valid">保存</button>
      </div>
    </form>
  </div>

  <!-- 修改轮播图 -->
  <div class="panel panel-default modify-module" *ngIf="isShowModifyModule">
    <div class="panel-heading">
      <span>修改轮播图模块</span>
    </div>
    <form (ngSubmit)="modifyCarouse()" #modifyCarouseForm="ngForm">
      <div class="panel-body">
        <div class="form-group">
          <label>轮播图片:</label><br/>
          <a class="btn btn-primary image-upload">
            <span [class]="uploadFont"></span><span class="upload-span">{{imageFileName}}</span>
            <input type="file" accept="image/*" class="image-input" (change)="onImageUpload($event)" name="imageFile"/>
          </a>
        </div>
        <div class="form-group">
          <label>轮播标题:</label>
          <input type="text" class="form-control" name="carouselFigureTitle" maxlength="20" [(ngModel)]="carouselFigureTitle" 
          #localCarouselFigureTitle="ngModel" required placeholder="限20个字" [class.red-border]="localCarouselFigureTitle.touched && localCarouselFigureTitle.invalid"/>
        </div>
        <div class="form-group">
          <label>轮播内容:</label>
          <textarea class="form-control" name="carouselFigureContent" maxlength="100" [(ngModel)]="carouselFigureContent"
          #localCarouselFigureContent="ngModel" required placeholder="限100个字" [class.red-border]="localCarouselFigureContent.touched && localCarouselFigureContent.invalid">
          </textarea>
        </div>
      </div>
      <div class="panel-footer clearfix">
        <button class="btn btn-default fr" type="button" (click)="cancelModifyModule()">取消</button>
        <button class="btn btn-info fr mr10" type="submit" [disabled]="!modifyCarouseForm.form.valid">保存</button>
      </div>
    </form>
  </div>

  <!-- 删除模块 -->
  <div class="panel panel-danger delete-module" *ngIf="isShowDeleteModule">
    <div class="panel-heading">确定要删除该轮播信息吗？</div>
    <div class="panel-body">
      <button class="btn btn-info" (click)="confirmDeleteHomeCarouselFigure()">确定</button>
      <div class="w10"></div>
      <button class="btn btn-default" (click)="cancelDeleteModule()">取消</button>
    </div>
  </div>

  <!-- 轮播图管理标题 -->
  <div class="head">
    <span class="head-title">轮播图管理</span>
    <button class="btn btn-info fr" (click)="isShowAddModule=true;isShowBlock=true"><span class="fa fa-plus"></span>&nbsp;添加</button>
  </div>
  <hr />
  <!-- 轮播图表格 -->
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th width="5%">序号</th>
        <th width="15%">轮播图片</th>
        <th width="10%">轮播标题</th>
        <th width="35%">轮播内容</th>
        <th width="12%">创建时间</th>
        <th width="13%">更新时间</th>
        <th width="10%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let homeCarouselFigure of homeCarouselFigureList;let i = index">
        <td>{{i + 1}}</td>
        <td><img (click)="previewImage(homeCarouselFigure.carouselFigureImageUrl)" class="home-carousel-figure-img" [src]="sanitizer.bypassSecurityTrustUrl(homeCarouselFigure.carouselFigureImageUrl)" alt="loading"/></td>
        <td>{{homeCarouselFigure.carouselFigureTitle}}</td>
        <td>{{homeCarouselFigure.carouselFigureContent}}</td>
        <td>{{homeCarouselFigure.createTime}}</td>
        <td>{{homeCarouselFigure.updateTime}}</td>
        <td>
          <button class="btn btn-warning" (click)="showModifyModule(homeCarouselFigure)">
            <span class="glyphicon glyphicon-edit"></span>
          </button>
          <button class="btn btn-danger" (click)="deleteHomeCarouselFigure(homeCarouselFigure.carouselFigureId, homeCarouselFigure.carouselFigureImagePath)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation">
    <ul class="pager">
      <li class="previous cp" [class.disabled]="pageNum === 1"><a (click)="prePage()"><span aria-hidden="true">&larr;</span>上一页 </a></li>
      <li><span>当前第{{pageNum}}页&nbsp;共{{pages}}页</span></li>
      <li class="next cp" [class.disabled]="pageNum === pages"><a (click)="nextPage()">下一页 <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
  </nav>
</div>
