<!-- loading -->
<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px'}"></ngx-loading> -->
<div class="content">
  <!-- 错误信息提示框 -->
  <div class="tip-postion" *ngIf="isShowErrorTip">
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-info-sign"></span>
        <div class="w10"></div>{{errorMessage}}
    </div>
  </div>

  <!-- 成功信息提示框 -->
  <div class="tip-postion" *ngIf="isShowSuccessTip">
      <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span>
        <div class="w10"></div>{{successMessage}}
    </div>
  </div>

  <!-- 用户管理标题 -->
  <div class="head clearfix">
    <span class="head-title">用户管理</span>
    <div class="input-group pull-right col-md-2">
      <input type="text" class="form-control" placeholder="用户名、手机号搜索" [(ngModel)]="searchInput" maxlength="25">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="searchUserList()">查询</button>
      </span>
    </div>
  </div>
  <hr />
  <!-- 用户管理表格 -->
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th width="5%">序号</th>
        <th width="5%">头像</th>
        <th width="15%">用户名</th>
        <th width="12%">手机号</th>
        <th width="5%">性别</th>
        <th width="32%">简介</th>
        <th width="13%">注册时间</th>
        <th width="13%">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList;let i = index">
        <td>{{(pageNum - 1) * pageSize + i + 1}}</td>
        <td><div class="head-sculpture head-50" [style.background-image]="'url(' + user?.headSculptureUrl + ')'"></div></td>
        <td>{{user?.userName}}</td>
        <td>{{user?.phone}}</td>
        <td>{{user?.sex}}</td>
        <td>{{user?.profile}}</td>
        <td>{{user?.createTime}}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                处理违法 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="cp"><a (click)="handleHeadSculpture(user.userId)">处理违法头像</a></li>
              <li class="cp"><a (click)="handleUserName(user.userId)">处理违法用户名</a></li>
              <li class="cp"><a (click)="handleProfile(user.userId)">处理违法简介</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation" class="clearfix" style="padding-right:30px;">
    <p-button class="pull-right" (onClick)="goPage()" label="GO" style="margin: 5px;"></p-button>
    <input type="text" class="form-control pull-right pagination-input" name="pageForSkip" [(ngModel)]="pageForSkip" (keypress)="removeChar($event)"/>
    <span class="pull-right pagination-span">共{{total}}条/共{{pages}}页</span>
    <ul class="pagination pull-right">
      <li [class.disabled]="pageNum === 1">
        <a (click)="prePage()" aria-label="Previous" class="cp">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li>
        <a (click)="skipPage(1)" aria-label="firstPage" class="cp">首页</a>
      </li>
      <li *ngIf="pageNum - 2 > 0"><a (click)="skipPage(pageNum - 2)" class="cp">{{pageNum - 2}}</a></li>
      <li *ngIf="pageNum - 1 > 0"><a (click)="skipPage(pageNum - 1)" class="cp">{{pageNum - 1}}</a></li>
      <li class="active"><a (click)="skipPage(pageNum)" class="cp">{{pageNum}}</a></li>
      <li *ngIf="pageNum + 1 <= pages"><a (click)="skipPage(pageNum + 1)" class="cp">{{pageNum + 1}}</a></li>
      <li *ngIf="pageNum + 2 <= pages"><a (click)="skipPage(pageNum + 2)" class="cp">{{pageNum + 2}}</a></li>
      <li>
        <a (click)="skipPage(pages)" aria-label="lastPage" class="cp">末页</a>
      </li>
      <li [class.disabled]="pageNum === pages">
        <a (click)="nextPage()" aria-label="Next" class="cp">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

