<div class="content">
  <!-- 错误信息提示框 -->
  <div class="tip-postion" *ngIf="isShowErrorTip">
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-info-sign"></span>
        <div class="w10"></div>{{errorMessage}}
    </div>
  </div>

  <!-- 成功信息提示框 -->
  <div class="tip-postion" *ngIf="isShowSuccessTip">
      <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span>
        <div class="w10"></div>{{successMessage}}
    </div>
  </div>

  <!-- 主流茶add-->
  <div class="head clearfix">
    <span class="head-title">添加主流茶模块</span>
    <button class="btn btn-info fr" [routerLink]="['/home-admin/well-known-tea']">返回</button>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-8 col-sm-10 col-lg-8">
      <form #teaForm="ngForm" (ngSubmit)="addTea()">
        <div class="form-group">
          <label for="wellKnownTeaName">茶名<span class="red">*</span>：</label>
          <input class="form-control" type="text" [(ngModel)]="wellKnownTeaName" #localWellKnownTeaName="ngModel" id="wellKnownTeaName" 
          name="wellKnownTeaName" maxlength="30" required [class.red-border]="localWellKnownTeaName.touched && localWellKnownTeaName.invalid"/>
        </div>
        <div class="form-group">
          <label for="productionPlace">产地<span class="red">*</span>：</label>
          <input class="form-control" type="text" [(ngModel)]="productionPlace" #localProductionPlace="ngModel" id="productionPlace" 
          name="productionPlace" maxlength="50" required [class.red-border]="localProductionPlace.touched && localProductionPlace.invalid"/>
        </div>
        <div class="form-group">
          <label>茶图片<span class="red">*</span>：</label>
          <p-fileUpload name="demo[]" (onSelect)="onUpload($event)" multiple="multiple" accept="image/*" maxFileSize="2000000" 
          (onRemove)="removeImage($event)" (onClear)="clearImages()" [showUploadButton]="false" chooseLabel="选择" cancelLabel="清空">
            <ng-template pTemplate="content">
            </ng-template>        
          </p-fileUpload>
        </div>
        <div class="form-group">
          <label for="description">简单描述<span class="red">*</span>：</label>
          <textarea class="form-control rs" type="text" [(ngModel)]="description" #localDescription="ngModel" id="description" rows="5"
          name="description" maxlength="200" required [class.red-border]="localDescription.touched && localDescription.invalid">
          </textarea>
        </div>
        <div class="form-group">
          <label>详细描述<span class="red">*</span>：</label><small class="text-success">注：用于网页显示</small>
          <p-editor [(ngModel)]="detailPart" [style]="{'height':'300px'}" required #localDetailPart="ngModel" name="detailPart"></p-editor>
        </div>
        <div class="form-group">
          <p-button type="submit" icon="fa fa-fw fa-check" label="提交" [disabled]="!teaForm.form.valid"></p-button>
          <p-button type="button" icon="fa fa-fw fa-close" label="返回" [routerLink]="['/home-admin/well-known-tea']"></p-button>
        </div>
      </form>
    </div>
  </div>
</div>