<!-- 错误信息提示框 -->
<div class="tip-postion" *ngIf="showErrorTip">
    <div class="alert alert-danger">
      <span class="glyphicon glyphicon-info-sign"></span>
      <div class="w10"></div>{{errorMessage}}
  </div>
</div>
<!-- loading -->
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="content">
  <div class="heading">
    <div class="container">
      <img class="logo ml30" src="/assets/images/ailejia_logo.jpg" alt="loading"/>
      <span>欢迎登陆</span>
    </div>
  </div>
  <div style="height:100px">
    <!-- 占位 -->
  </div>
  <div class="body clear-fix">
    <div class="col-md-3 col-md-offset-7">
        <div class="panel panel-default m32">
          <div class="panel-heading center">
            <span class="red-bold">账户登录</span>
          </div>
          <div class="panel-body">
            <form class="login-form clear-fix" #loginForm="ngForm" (ngSubmit)="submit()">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                  <input type="text" class="form-control" placeholder="用户名/已验证手机" aria-describedby="basic-addon1" name="userName"
                  [(ngModel)]="userName" #localUserName="ngModel" required maxlength="25" [class.red-border]="localUserName.touched && localUserName.invalid"/>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1"><span class="	glyphicon glyphicon-lock"></span></span>
                  <input type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon1" name="password" [(ngModel)]="password"
                  #localPassword="ngModel" maxlength="25" required [class.red-border]="localPassword.touched && localPassword.invalid" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb15">
                    <p-checkbox [(ngModel)]="rememberPwd" binary="true" name="rememberPwd" id="rememberPwd"></p-checkbox>
                    <label for="rememberPwd" (click)="rememberPwd=!rememberPwd">记住密码</label>
                </div>
                <div class="col-md-6 clear-fix">
                  <span class="pull-right"><a class="cp" style="font-weight: bold">忘记密码</a></span>
                </div>
              </div>
              <button class="btn btn-danger btn-block" [disabled]="!loginForm.form.valid">登&nbsp;录</button>
            </form>
          </div>
          <div class="panel-footer clear-fix">
          </div>
        </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
        <div class="row">
          <span><a class="cp">关于我们</a>&nbsp;|&nbsp;<a class="cp">联系我们</a>&nbsp;|&nbsp;<a class="cp">人才招聘</a>&nbsp;|&nbsp;
            <a class="cp">广告服务</a>&nbsp;|&nbsp;<a class="cp">友情链接</a>&nbsp;|&nbsp;<a class="cp">销售联盟</a>&nbsp;|&nbsp;
            <a class="cp">English Site</a></span>
        </div>
        <div class="row">
            <span>Copyright©2004-2019  南雅花艺店版权所有</span>
            <p><a target="_blank" href="http://www.beian.miit.gov.cn/">备案号： 30155498192597364</a></p>
        </div>
    </div>
  </div>
</div>
