<div class="content">
  <!-- 错误信息提示框 -->
  <div class="tip-postion" *ngIf="isShowErrorTip">
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-info-sign"></span>
        <div class="w10"></div>{{errorMessage}}
      </div>
  </div>
  <div class="h90">
  </div>
  <div class="container" style="min-height: 60%">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-md-offset-2">
      <h2 style="color: #7e0001">我的收藏</h2>
      <hr />
      <div class="tea-skill" *ngFor="let collection of collectionList">
        <h4 style="font-weight: bold;"><a [routerLink]="['/home/tea-skill-detail', collection?.teaSkill.teaSkillId]" >{{collection?.teaSkill.title}}</a></h4>
        <span>{{collection?.teaSkill.author}} | 时间：{{collection?.teaSkill.createTime}}</span>
        <a [routerLink]="['/home/tea-skill-detail', collection?.teaSkill.teaSkillId]">
          <div class="essay" [innerHtml]="collection?.teaSkill.essay">
          </div>
        </a>
      </div>
      <div class="tea-skill" *ngIf="!collectionList || collectionList.length === 0">
        <h4>暂时没有任何收藏</h4>
      </div>
      <nav aria-label="Page navigation" *ngIf="!(pages===1) && !(pages===0)">
        <ul class="pager">
          <li class="previous cp" *ngIf="!(pageNum===1)"><a (click)="prePage()"><span aria-hidden="true">&larr;</span>上一页 </a></li>
          <li><span>当前第{{pageNum}}页&nbsp;共{{pages}}页</span></li>
          <li class="next cp" *ngIf="!(pageNum===pages)"><a (click)="nextPage()">下一页 <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- <app-footer></app-footer> -->
</div>
