<div class="content">
  <!-- <div class="main-div">
    <img class="main-image" src="/assets/images/tea_history.jpg" alt="loading"/>
  </div> -->
  <div class="h90"></div>
  <div class="container">
    <div class="col-md-12">
      <h1>中国茶叶史</h1>
      <p>“中国茶史”的起源，到目前为止是众说纷纭，争议未定，大致说来，有先秦说、西汉说、三国说。茶以文化面貌出现，是在两晋北朝，最早喜好饮茶的多是文人雅仕。
        唐代开元以后，中国的"茶道"大行，饮茶之风弥漫朝野，宋承唐代饮茶之风，日益普及。茶神陆羽有著《茶经》一书。《神农本草经》亦有记载关于茶这方面的知识。</p>
    </div>
    <div class="col-md-12">
      <div class="blue-div clearfix"><h3 class="pull-left" style="margin-top: 10px;">简介</h3><div class="hr pull-right" style="width: 94%;"></div></div>
      <p>中国历史上有很长的饮茶纪录，已经无法确切地查明到底是在什么年代了，但是大致的时代是有说法的。并且也可以找到证据显示，确实在世界上的很多地方饮茶的习惯
        是从中国传过去的。所以，很多人认为饮茶就是中国人首创的，世界上其他地方的饮茶习惯、种植茶叶的习惯都是直接或间接地从中国传过去的。
        但是也有人能够找到证据指出，饮茶的习惯不仅仅是中国人发明的，在世界上的其他一些地方也是饮茶的发明地，例如印度、非洲等。 1823年，一个英国侵略军的少校在
        印度发现了野生的大茶树，从而有人开始认定茶的发源地在印度，至少是也在印度。中国当然也有野生大茶树的记载，都集中在西南地区，记载中也包含了甘肃、湖南的个
        别地区。茶树是一种很古老的双子叶植物，与人们的生活密切相关。</p>
      <p>在国内，也有关于茶树的最早原产地的争论，有好几种说法。在今天有不少人认定在云南，有一学者在认真研究考证以后断言，云南的西双版纳是茶树的原产地。人工栽
        培茶树的最早文字记载始于西汉的蒙山茶。这在《四川通志》中有载。</p>
      <p>其实到底在哪里现在对我们饮茶者来说并不重要。也许具有文化意义。我们可以先来看看学术界的一些说法。</p>
    </div>
    <div class="col-md-12">
      <div class="blue-div clearfix"><h3 class="pull-left" style="margin-top: 10px;">茶史概述</h3><div class="hr pull-right" style="width: 90%;"></div></div>
      <p>中国是茶的原产地。中国人对茶的熟悉，上至帝王将相，文人墨客，诸子百家，下至挑夫贩夫，平民百姓，无不以茶为好。人们常说：“开门七件事，柴米油盐酱醋茶”。
        由此可见茶已深入人民各阶层。同样少数民族也好茶，藏族的酥油茶，蒙古族的奶茶。</p>
      <p>茶以文化面貌出现，是在两晋北朝。若论其起源就要追溯到汉代，有正式文献记载（汉人王褒所写《僮约》）。最早喜好饮茶的多是文人雅仕。在我国文学史上，提起汉赋
        ，首推司马相如与杨雄，且都是早期著名茶人。司马相如曾作《凡将篇》、杨雄作《方言》，一个从药用，一个从文学角度都谈到茶。晋代张载曾写《登成都楼诗》：“借问
        杨子舍，想见长卿庐”，“芳茶冠六情，溢味播九区”。</p>
      <p>茶文化产生之初是由儒家积极入世的思想开始的。两晋北朝时，一些有眼光的政治家便提出“以茶养廉”，以对抗当时的奢侈之风。魏晋以来，天下骚乱，文人无以匡世，渐
        兴清淡之风。这些人终日高谈阔论，必有助兴之物，于是多兴饮宴，所以最初的清淡家多酒徒。如：竹林七贤。后来清淡之风发展到一般文人，但能豪饮终日不醉的毕竟是少
        数，而茶则可长饮且始终保持清醒，于是清淡家们就转向好茶。所以后期出现了许多好茶人。</p>
    </div>
    <div class="col-md-12">
      <div class="blue-div clearfix"><h3 class="pull-left" style="margin-top: 10px;">发源时间</h3><div class="hr pull-right" style="width: 90%;"></div></div>
      <h4>简介</h4>
      <p>关于饮茶的起源，到目前为止是众说纷纭，争议未定。大致说来，有神农说、商周说、西汉说、三国说。</p>
      <h4>神农说</h4>
      <p>陆羽根据《神农食经》"茶茗久服，令人有力悦志"的记载，认为饮茶始于神农时代，"茶之为饮，发乎神农氏"。（《茶经·六之饮》）神农即炎帝，与黄帝同为中国上古都
        部落首领。然而《神农食经》据今人考证成书在汉代以后饮用始于上古原始社会只是传说，不是信史。</p>
      <h4>商周说</h4>
      <p>据东晋常璩所撰《华阳国志·巴志》载：巴子国“土植五谷,牲具六畜。......荼、蜜、灵龟、巨犀、山鸡、白雉、黄润鲜粉，皆纳贡之。其果实之珍者，树有荔枝，蔓有辛
        蒟，园有芳蒻、香茗。”常璩明确指出，进贡的“芳蒻、香茗”不是采之野生，而是种之园林。芳蒻是一种香草，香茗指茶。此说法表明：生活在陕西南部的古代巴人才是中国
        最早用茶、种茶的民族，至少已有3000余年的用茶、种茶的历史。</p>
      <h4>三国说</h4>
      <p>《三国志·吴书·韦曜传》有"密赐荼荈以代酒"，这种能代酒的饮料当为茶饮料，足以证明吴国宫廷已经饮茶。据此，《南窗纪谈》认为中国饮茶始于三国，《集古录》则认
        为始于魏晋。</p>
      <p>三国时代东吴饮茶是确凿无疑，然而东吴之茶当传自巴蜀，巴蜀的饮茶要早于东吴，因此，中国的饮茶一定早于三国时代。</p>
      <h4>西汉说</h4>
      <p>清代郝懿行在《证俗文》中指出："茗饮之法，始见于汉末，而已萌芽于前汉。司马相如凡将篇有荈诧，王褒僮约有武阳买茶。"郝懿行认为饮茶始于东汉末，而萌芽于西汉。</p>
      <p>王褒《僮约》中有"烹荼尽具"、《武阳买荼》，一般都认为"买荼"之"荼"为茶，而武阳即今四川彭山县，说明四川在西汉宣帝神爵三年（公元前59年），中国的饮茶不晚于
        公元前一世纪。</p>
      <p>我们认为中国的饮茶始于西汉，而饮茶晚于茶的食用、药用，中国人发现茶和用茶则远在西汉以前，甚至可以追溯到商周时期。</p>
    </div>
    <div class="col-md-12">
      <div class="blue-div clearfix"><h3 class="pull-left" style="margin-top: 10px;">发展时间</h3><div class="hr pull-right" style="width: 90%;"></div></div>
      <p>中国饮茶始于西汉有史可据，但在西汉时期，中国只有四川一带饮茶，西汉对茶作过记录的司马相如、王褒、杨雄均是四川人。两汉时期，茶作为四川的特产，通过进贡的
        渠道，首先传到京都长安，并逐渐向当时的政治、经济、文化中心陕西、河南等北方地区传播；另一方面，四川的饮茶风尚沿水路顺长江而传播到长江中下游地区。从西汉直
        到三国时期，在巴蜀之外，茶是供上层社会享用的珍稀之品，饮茶限于王公朝士，民间可能很少饮茶。</p>
      <p>南朝宋何法盛《晋中兴书》记："陆纳为吴兴太首时，卫将军谢安常欲诣纳，……安既至，所设唯茶果而已"。西晋刘琨《与兄子南州刺史演书》有："吾体中烦闷，恒假真茶，
        可信致之"。晋左思《娇女诗》有："止为茶荈剧，吹嘘对鼎砺"。南朝宋刘义庆《世语新说·轻诋第二十六》记："褚太傅初渡江。……刺左右多与茗汁"。又《纰漏第三十四》
        载："任问人云，此为茶为茗。"两晋时期，江南一带，"做席竟下饮"，文人士大夫间流行饮茶，民间亦有饮茶。</p>
      <p>南朝梁萧子显《南方书·武帝本纪》："我灵慎勿的牲为祭。唯设饼、茶饮、干饭、酒脯而已。"《释道该说续名僧传》："宋释法瑶，姓杨氏，河东人。……年垂悬车，饭所
        饮茶。"《宋录》："新安王子鸾，豫章王子尚诣昙济道人于八公山，道人设茶茗。子尚味之曰：此甘露也，何言茶茗。"后魏杨衡之《洛阳伽蓝记》卷三城南报德寺："（王）
        肃初入国，不食羊肉及酪浆等物。常饭鲫鱼羹，渴饮茗汁。……时给事刘镐，慕肃之风，专习茗饮。"南朝宋山谦之《吴兴记》有"乌程温度，出御荈"，"长兴啄木岑，每岁吴
        兴、昆陵二郡太守才茶宴会于此，有境会亭。"南北朝时期，帝王公卿、文人道流，茶风较晋更浓。吴兴有御茶园，采茶时节二郡太守宴集，大概是督造茶叶，上贡朝廷。</p>
    </div>
    <div class="col-md-12">
      <div class="blue-div clearfix"><h3 class="pull-left" style="margin-top: 10px;">形成时间</h3><div class="hr pull-right" style="width: 90%;"></div></div>
      <p>中唐封演《封氏闻见记》卷六饮茶载："南人好饮之，北人初不多饮。开元中，泰山灵岩寺有降魔师，大兴禅教。务于不寐，又不夕食，皆许其饮茶。人自怀侠，到处煮饮，
        从此转相仿效，遂成风俗。……于是茶道大行，王公朝士无不饮者。……穷曰竞夜，殆成风俗，始自中地，流于塞外。"封演认为禅宗促进了北方饮茶的形成，唐代开元以后，中
        国的"茶道"大行，饮茶之风弥漫朝野，"穷日竞夜"，"遂成风俗"，且"流于塞外"。</p>
      <p>晚唐杨华《膳夫经手录》载："至开元、天宝之间，稍稍有茶；至德、大历遂多，建中以后盛矣。"陆羽《茶经·云之饮》也称："滂时浸俗，盛于国朝两都并荆俞间，以为比
        屋之饮。"杨华认为茶始兴于玄宗朝，肃宗，代宗时渐多，德宗以后盛行。陆羽《茶经》初稿约成于代宗永泰元年，定稿于德宗建中元年。《茶经》认为当时的饮茶之风扩散
        到民间，以东都洛阳和西都长安及湖北、山东一带最为盛行，都把茶当作家常饮料。</p>
      <p>《茶经》、《封氏闻见记》、《膳夫经手录》关于饮茶发展和普及的关带内基本一致。开元以前，饮茶不多，开元以后，特别是建中（公元780）以后，举凡王公朝士、三教
        九流、士农工商，无不饮茶。不仅中原广大地区饮茶，而且边疆少数民族地区也饮茶。甚至出现了茶水铺，"自邹、齐、泡、隶，渐至京邑城市，多开店铺，煎茶买之。不问
        道俗，投钱取饮。"</p>
      <p>《旧唐书·李玉传》："茶为食物，无异米盐，于人所资，远近同俗，既怯竭乏，难舍斯须，田闾之间，嗜好尤甚。"茶于人如同米、盐一样不可缺少，对于田间农家，尤其嗜好。</p>
    </div>
    <div class="col-md-12">
      <div class="blue-div clearfix"><h3 class="pull-left" style="margin-top: 10px;">普及时间</h3><div class="hr pull-right" style="width: 90%;"></div></div>
      <p>宋承唐代饮茶之风，日益普及。宋梅尧臣《南有嘉茗赋》云："华夷蛮豹，固日饮而无厌，富贵贫贱，亦时啜无厌不宁。宋昊自牧《梦梁录》卷十六"鳌铺"载："盖人家每日
        不可阙者，柴米油盐酱醋茶。"自宋代始，茶就成为开门"七件事"之一。 宋徽宗赵佶《大观茶论》序云："缙绅之士，韦布之流，沐浴膏泽，薰陶德化，盛以雅尚相推，从事
        茗饮。顾近岁以来，采择之精，制作之工，品第之胜，烹点之妙，莫不盛早其极。"</p>
      <p>吴自牧《梦梁录》卷十六"茶肆"记："今之茶肆，列花架，安顿奇松异会等物于其上，装饰店面，敲打响盏歌卖，止用瓷盏漆托供卖，则无银盂物也。夜市于太街有东担设浮
        铺，点茶汤以便游玩观之人。大凡茶楼多有富室子弟，诸司下直等人会聚，司学乐器、上教曲赚之类，谓之"挂牌儿"。人情茶肆，本非以点茶汤为业，但将此为由，多觅茶金
        耳。又有茶肆专是王奴打聚处，亦有诸行借买志人会聚行老，谓之"市头"。大街有三五家靠茶肆，楼上专安着妓女，名曰"夜茶坊"，……非君子驻足之地也。更有张卖店隔壁黄
        尖嘴蹴球茶坊，又中瓦内王妈妈家茶肆名一窟茶坊，大街车儿"茶肆、将检阅茶肆，皆士大夫期明约友会聚之处。巷陌街坊，自有提茶瓶沿门点茶，或朔望日，如遇吉凶二事，
        点送邻里茶水，倩其往来传语。又有一等街司衙兵百司人，以茶水点送门面铺席，乞觅钱物，谓之"龊茶"。僧道头陀欲行题注，先以茶水沿门点送，以为进身之阶。"南宋都城
        临安（今杭州市）茶肆林立，不仅有人情茶肆。花茶坊，夜市还有东担浮铺点茶汤以便游观之人。有提茶瓶沿门点茶，有以茶水点送门面铺席，僧道头陀以茶水沿门点送以为进
        身之防。茶在社会中扮演着重要角色。</p>
    </div>
    <div class="col-md-12">
      <div class="blue-div clearfix"><h3 class="pull-left" style="margin-top: 10px;">发源地点</h3><div class="hr pull-right" style="width: 90%;"></div></div>
      <h4>简介</h4>
      <p>对这一点的探求往往集中在茶树的发源地的研究上来。关于茶树的发源地，有这么几种说法：</p>
      <h4>西南说</h4>
      <p>“我国西南部是茶树的原产地和茶叶发源地。”这一说法所指的范围很大，所以正确性就较高了。</p>
      <h4>四川说</h4>
      <p>清·顾炎武《日知录》：“自秦人取蜀以后，始有茗饮之事。”言下之意，秦人入蜀前，今四川一带已知饮茶。其实四川就在西南，四川说成立，那么西南说就成立了。四川说要比西南说“精密”一些，但是正确的风险性会大些。</p>
      <h4>云南说</h4>
      <p>认为云南的西双版纳一带是茶树的发源地，这一带是植物的王国，有原生的茶树种类存在完全是可能的，但是这一说法具有“人文”方面的风险，因为茶树是可以原生的，而茶则是活化劳动的成果。</p>
      <h4>川东鄂西说</h4>
      <p>陆羽《茶经》：“其巴山峡川，有两人合抱者。”巴山峡川即今川东鄂西。该地有如此出众的茶树，是否就有人将其利用成为了茶叶，没有见到证据。</p>
      <h4>江浙说</h4>
      <p>最近有人提出始于以河姆渡文化为代表的古越族文化。江浙一带目前是我国茶叶行业最为发达的地区，历史若能够在此生根，倒是很有意义的话题。</p>
      <p>其实我认为在远古时期肯定不只一个地方有自然起源的茶树存在。有茶树的地方也不一定就能够发展出饮茶的习俗来。前面说到茶是神农发明的，那么它在哪一带活动？
        如果我们求得“茶树原生地”与“神农活动地”的交集，也许就有答案了，至少是缩小了答案的“值域”。</p>
    </div>
    <div class="col-md-12">
      <div class="blue-div clearfix"><h3 class="pull-left" style="margin-top: 10px;">饮茶书籍</h3><div class="hr pull-right" style="width: 90%;"></div></div>
      <p>茶神陆羽有著《茶经》一书。《神农本草经》亦有记载关于茶这方面的知识。如今，关于茶的书籍更是日益增多。有兴趣可以到书店逛逛，想必定有所收获。</p>
    </div>
  </div>
  <div class="h40"></div>
  <app-footer></app-footer>
</div>
