<div class="content">
  <!-- 错误信息提示框 -->
  <div class="tip-postion" *ngIf="isShowErrorTip">
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-info-sign"></span>
        <div class="w10"></div>{{errorMessage}}
    </div>
  </div>
  <div class="main-div">
    <div class="title">
      <p class="h1 text-center">茶具新资讯</p>
      <p class="h3 text-center">新货上架，欢迎光临</p>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4" *ngFor="let teaSetNews of teaSetNewsList">
        <div class="thumbnail">
          <div class="img-div" [style.background-image]="'url(' + teaSetNews.imageUrl + ')'"></div>
          <!-- <img src="{{teaSetNews.imageUrl}}" alt="loading" style="width:350px;height: 250px;"> -->
          <div class="caption">
            <h3>{{teaSetNews.teaSetName}}</h3>
            <h4>价格：{{teaSetNews.price}}</h4>
            <p>{{teaSetNews.description}}</p>
            <p><a [href]="sanitizer.bypassSecurityTrustUrl(teaSetNews.goodUrl)" class="btn btn-primary" role="button" target="_blank">前去购买</a></p>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation">
      <ul class="pager">
        <li class="previous cp" [class.disabled]="pageNum === 1"><a (click)="prePage()"><span aria-hidden="true">&larr;</span>上一页 </a></li>
        <li><span>当前第{{pageNum}}页&nbsp;共{{pages}}页</span></li>
        <li class="next cp" [class.disabled]="pageNum === pages"><a (click)="nextPage()">下一页 <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
  </div>
  <div class="h40"></div>
  <app-footer></app-footer>
</div>
  