<div class="content">
  <!-- 错误信息提示框 -->
  <div class="tip-postion" *ngIf="isShowErrorTip">
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-info-sign"></span>
        <div class="w10"></div>{{errorMessage}}
      </div>
  </div>
  <!-- <div class="main-div">
    <img class="main-image" src="/assets/images/tea_history.jpg" alt="loading"/>
  </div> -->
  <div class="h90"></div>
  <div class="container">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-md-offset-2">
      <h2 style="color: #7e0001">全部文章</h2>
      <hr />
      <div class="tea-skill" *ngFor="let teaSkill of teaSkillList">
        <h4 style="font-weight: bold;"><a [routerLink]="['/home/tea-skill-detail', teaSkill.teaSkillId]" >{{teaSkill.title}}</a></h4>
        <span>{{teaSkill.author}} | 时间：{{teaSkill.createTime}}</span>
        <a [routerLink]="['/home/tea-skill-detail', teaSkill.teaSkillId]">
          <div class="essay" [innerHtml]="teaSkill.essay">
          </div>
        </a>
      </div>
      <nav aria-label="Page navigation" class="clearfix" style="padding-right:30px;margin-top:20px">
        <p-button class="pull-right" (onClick)="goPage()" label="GO" style="margin: 5px;"></p-button>
        <input type="text" class="form-control pull-right pagination-input" name="pageForSkip" [(ngModel)]="pageForSkip" (keypress)="removeChar($event)"/>
        <span class="pull-right pagination-span">共{{total}}条/共{{pages}}页</span>
        <ul class="pagination pull-right">
          <li [class.disabled]="pageNum === 1">
            <a (click)="prePage()" aria-label="Previous" class="cp">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li>
            <a (click)="skipPage(1)" aria-label="firstPage" class="cp">首页</a>
          </li>
          <li *ngIf="pageNum - 2 > 0"><a (click)="skipPage(pageNum - 2)" class="cp">{{pageNum - 2}}</a></li>
          <li *ngIf="pageNum - 1 > 0"><a (click)="skipPage(pageNum - 1)" class="cp">{{pageNum - 1}}</a></li>
          <li class="active"><a (click)="skipPage(pageNum)" class="cp">{{pageNum}}</a></li>
          <li *ngIf="pageNum + 1 <= pages"><a (click)="skipPage(pageNum + 1)" class="cp">{{pageNum + 1}}</a></li>
          <li *ngIf="pageNum + 2 <= pages"><a (click)="skipPage(pageNum + 2)" class="cp">{{pageNum + 2}}</a></li>
          <li>
            <a (click)="skipPage(pages)" aria-label="lastPage" class="cp">末页</a>
          </li>
          <li [class.disabled]="pageNum === pages">
            <a (click)="nextPage()" aria-label="Next" class="cp">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <app-footer></app-footer>
</div>
