.content {
    .head-div {
        // border-right: 1px solid #dfdbdb;
        padding: 30px 0px;
        // min-height: 200px;
    }
    .head {
        width: 80px;
        height: 80px;
        background-position: center;
        background-size: cover;
        display:inline-block;
    }
    .content-div {
        padding: 24px 20px;
        min-height: 200px;
    }
    .content-footer {
        height: 28px;
        margin-top: 30px;
        text-align: right;
    }
    .test {
        height: 100px;
        padding: 5px;
        border: 1px solid #a0b3d6;
        overflow: auto;   
    }
    .test:focus {
        box-shadow: 0 0 5px blue;    
    }
    .read-write-plaintext-only {
        -webkit-user-modify: read-write-plaintext-only;
    }
    .expression {
        border: 1px solid #bfbfbf;
        padding: 5px;
        position: absolute;
        top: 100%;
        transform: translateY(5px);
        z-index: 1000;
        background-color: white;
        box-shadow: 0px 0px 3px 1px #bfbfbf;
        table {
            border-collapse: collapse;
            td {
                border: 1px solid #e3e3e3;
                vertical-align: middle;
                width: 54px;
                height: 54px;
                text-align: center;
                &:hover {
                    background-color: rgb(232, 232, 253);
                }
            }
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 9%;
            margin-left: -5px;
            border-width: 8px;
            border-style: solid;
            border-color: transparent transparent white transparent;
        }
    }
    .link {
        border: 1px solid #bfbfbf;
        padding: 5px;
        position: absolute;
        top: 100%;
        left: 32%;
        transform: translateY(5px);
        z-index: 1000;
        background-color: white;
        box-shadow: 0px 0px 3px 1px #bfbfbf;
        &:after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 9%;
            margin-left: -5px;
            border-width: 8px;
            border-style: solid;
            border-color: transparent transparent white transparent;
        }
    }
    .pagination {
        margin-top: 0px !important;
    }
    .pagination-span {
        line-height: 34px;
        padding: 0 10px;
    }
    .pagination-input {
        width: 50px;
        height: 28px;
        margin: 3px 0px;
    }
    .post-title {
        border-bottom: 1px solid #ffffff;
        padding: 10px;
        font-size: 16px;
    }
    .reply-input {
        display: none;
        height: 50px;
        padding: 5px 10px 5px 10px;
        overflow: auto;
        border: 1px solid #e1d0d0;
        background-color: white;
    }
    .reply-div {
        display: none;
        position: relative;
        margin-top: 10px;
        .expression-btn {
            border: none;
            background-color: transparent;
            font-size: 20px;
            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }
        }
        .expression-reply {
            display: none;
            border: 1px solid #bfbfbf;
            padding: 5px;
            position: absolute;
            top: 100%;
            left: 40%;
            transform: translateY(5px);
            z-index: 1000;
            background-color: white;
            box-shadow: 0px 0px 3px 1px #bfbfbf;
            table {
                border-collapse: collapse;
                td {
                    border: 1px solid #e3e3e3;
                    vertical-align: middle;
                    width: 54px;
                    height: 54px;
                    text-align: center;
                    &:hover {
                        background-color: rgb(232, 232, 253);
                    }
                }
            }
            &:after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 84%;
                margin-left: -5px;
                border-width: 8px;
                border-style: solid;
                border-color: transparent transparent white transparent;
            }
        }
    }
    .media, .media-body {
        overflow: visible !important;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        padding-top: 60px;
        left: 50%;
        top: 55%;
        width: 60%;
        height: 70%;
        transform: translate(-50%, -50%);
        overflow: auto;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.9);
    }
    
    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        max-width: 700px;
    }
    
    /* Add Animation */
    .modal-content, #caption {    
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    #caption {
        text-align: center;
        color: wheat;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    @-webkit-keyframes zoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
    }
    
    @keyframes zoom {
        from {transform: scale(0.1)} 
        to {transform: scale(1)}
    }
    
    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
    
    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
        .modal-content {
            width: 100%;
        }
    }
}
.ql-image:focus {
    outline: none !important;
    box-shadow: none !important;
}