.content {
    .container {
        .title {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            line-height: 37px;
            padding: 27px 10px 0 10px;
            color: #7e0001;
        }
        .author {
            line-height: 30px;
            color: #999;
            margin-top: 6px;
            .text-center {
                span {
                    padding: 0 7px;
                }
            }
        }
    }
}