<div class="content">
  <!-- 错误信息提示框 -->
  <div class="tip-postion" *ngIf="isShowErrorTip">
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-info-sign"></span>
        <div class="w10"></div>{{errorMessage}}
      </div>
  </div>
  <!-- 成功信息提示框 -->
  <div class="tip-postion" *ngIf="isShowSuccessTip">
      <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span>
        <div class="w10"></div>{{successMessage}}
    </div>
  </div>
  <div class="h90"></div>
  <div class="container">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-md-offset-2">
      <h1 class="title">{{teaSkill?.title}}</h1>
      <div class="author">
        <p class="text-center"><span>{{teaSkill?.createTime}}</span><span>作者：{{teaSkill?.author}}</span><span>来源：网络</span>
          <span>阅读次数：{{readNumber}}</span><span class="cp" (click)="collect()"><i class="fa" [ngClass]="collectionClass"></i>&nbsp;{{collectionSpan}}</span>
        </p>
      </div>
      <div [innerHtml]="teaSkill?.essay" class="essay-detail"></div>
      <nav aria-label="Page navigation">
        <ul class="pager">
          <li class="previous cp" *ngIf="preTeaSkill"><a (click)="preSkill()"><span aria-hidden="true">&larr;</span>上一篇 </a></li>
          <li class="next cp" *ngIf="nextTeaSkill"><a (click)="nextSkill()">下一篇<span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
  <app-footer></app-footer>
</div>