<div class="content">
    <!-- 错误信息提示框 -->
    <div class="tip-postion" *ngIf="isShowErrorTip">
        <div class="alert alert-danger">
          <span class="glyphicon glyphicon-info-sign"></span>
          <div class="w10"></div>{{errorMessage}}
        </div>
    </div>
    <div class="h90"></div>
    <!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li  *ngFor="let teaImage of teaImages;let i = index" data-target="#carousel-example-generic" 
            [class.active]="i == 0" (data-slide-to)="i">    
            </li>
        </ol>
    
        <div class="carousel-inner" role="listbox">
            <div *ngFor="let teaImage of teaImages;let i = index" class="item" [class.active]="i == 0" >
                <img src="{{teaImage.imageUrl}}" alt="loading">
                <div class="carousel-caption">
                    <p>已被下载{{teaImage.downloadNumber}}次</p>
                    <button type="button" class="btn btn-info" (click)="download(teaImage.imageId)">下载</button>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1" *ngIf="teaImages && teaImages.length > 0">
                <p-carousel headerText="主流茶叶图片" [value]="teaImages"  numVisible="3" firstVisible="1">
                    <ng-template let-teaImage pTemplate="item">
                        <div class="ui-grid ui-grid-responsive">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <div class="image-div" [style.background-image]="'url(' + teaImage?.imageUrl + ')'">
                                    </div>
                                </div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-6">下载次数</div>
                                <div class="ui-grid-col-6">{{teaImage?.downloadNumber}}</div>
                            </div>
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <button type="button" pButton icon="fa-download" (click)="download(teaImage?.imageId)"></button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="margin-bottom: 50px;">
                <!-- <h1>{{wellKnownTea?.wellKnownTeaName}}</h1>
                <h3>产地：{{wellKnownTea?.productionPlace}}</h3> -->
                <div [class.detail-part]="wellKnownTea?.detailPart != null" [innerHtml]="wellKnownTea?.detailPart" class="well-tea-detail">
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>