.content {
    height: 100%;
    .carousel.slide {
        height: 100%;
        .carousel-inner {
            height: 100%;
            .item.active,.item {
                height: 100%;
                img {
                    width: 100%;
                    height: 100% !important;
                }
            }
        }
        p {
            margin: 0 0 20px;
            font-size: 18px;
        }
    }
    .thumbnail {
        .caption {
            .caption-content {
                height: 420px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 21;
            }
        }
    }
    
    .btn-link:active {
        background: transparent !important;
        outline: none !important;
        border: transparent !important;
    }
    
    .btn-info {
        margin-bottom: 20px;
    }
    
    .btn-link {
        outline: none !important;
    }
    
    @media (min-width: 992px) {
        .paragraph {
            margin-top: 5%;
        }
    }
    .thumbnail {
        img {
            width: 100%;
            height: 350px;
            margin: 0 auto;
            display: block;
        }
    }
    .carousel-figure {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
}