<!-- 错误信息提示框 -->
<div class="tip-postion" *ngIf="isShowErrorTip">
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-info-sign"></span>
        <div class="w10"></div>{{errorMessage}}
    </div>
</div>
<div>
    <a class="cp" (click)="replyAtOnce()">
        <p-growl [(value)]="msgs" baseZIndex="10000" life="3000"></p-growl>
    </a>
</div>
<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" id="nav" 
    [ngStyle]="{'background-color': backgroundColor, 'background-repeat': backgroundRepeat, 'background-image': backgroundImage}">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/assets/images/tea_logo.png" alt="loading"/></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['/home/index']">主页<span class="sr-only">(current)</span></a></li>
                    <li><a [routerLink]="['/home/tea-set']">茶具资讯</a></li>
                    <li><a [routerLink]="['/home/tea-leaf-news']">茶叶资讯</a></li>
                    <li><a [routerLink]="['/home/tea-skill']">泡茶技巧</a></li>
                    <li><a [routerLink]="['/home/communication-region']">交流区</a></li>
                    <li *ngIf="userId"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        消息<span *ngIf="messageNumber != 0" class="menuitem-badge">{{messageNumber}}</span>
                        </a>
                        <ul class="dropdown-menu notice-ul" *ngIf="messageNumber">
                            <li *ngFor="let notice of noticeList">
                                <div class="clearfix" *ngIf="notice?.noticeType == 1">
                                    <img *ngIf="notice?.content?.user" class="pull-left img-circle" [src]="notice?.content?.user?.headSculptureUrl" width="45">
                                    <div class="clearfix">
                                        <span class="name">{{notice?.content?.user?.userName}}&nbsp;评论&nbsp;你</span>
                                        <div class="message" [innerHtml]="notice?.content?.content">
                                        </div>
                                        <span *ngIf="notice?.content?.content.indexOf('img') >= 0">【图片】</span>
                                    </div>
                                    <button class="remove-btn"
                                     title="忽略" type="button" (click)="deleteNotice(notice.noticeId)">
                                        <span class="fa fa-remove"></span>
                                    </button>
                                    <button class="message-btn"
                                     title="回复" type="button" (click)="reply(notice.noticeId,notice.noticeType, notice.content.commentId)">
                                        <span class="fa fa-comment"></span>
                                    </button>
                                </div>
                                <div class="clearfix" *ngIf="notice?.noticeType == 2">
                                    <img *ngIf="notice?.content?.sendUser" class="pull-left img-circle" [src]="notice?.content?.sendUser?.headSculptureUrl" width="45">
                                    <div>
                                        <span class="name">{{notice?.content?.sendUser?.userName}}&nbsp;回复&nbsp;你</span>
                                        <div class="message" [innerHtml]="notice?.content?.content"></div>
                                    </div>
                                    <button class="remove-btn"
                                     title="忽略" type="button" (click)="deleteNotice(notice.noticeId)">
                                        <span class="fa fa-remove"></span>
                                    </button>
                                    <button class="message-btn"
                                     title="回复" type="button" (click)="reply(notice.noticeId, notice.noticeType, notice.content.replyId)">
                                        <span class="fa fa-comment"></span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" *ngIf="userId">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="['/home/user-info']">修改资料</a></li>
                            <li><a [routerLink]="['/home/modify-password']">修改密码</a></li>
                            <li><a [routerLink]="['/home/my-collection']">我的收藏</a></li>
                            <!-- <li><a href="#">个性设置</a></li> -->
                            <li role="separator" class="divider"></li>
                            <li><a class="cp" (click)="logout()">登出</a></li>
                        </ul>
                    </li>
                    <li *ngIf="!userId"><a [routerLink]="['/login']">登录</a></li>
                    <li *ngIf="!userId"><a [routerLink]="['/register']">注册</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个性设置 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="cp" (click)="changeSkin('#e5dcd3', 'no-repeat', 'url(/assets/images/nav-skin.jpg)')">默认</a></li>
                            <li><a class="cp" (click)="changeSkin('transparent', 'repeat', 'url(/assets/images/bird-skin.gif)')">北归雁</a></li>
                            <li><a class="cp" (click)="changeSkin('#fbe8e9', 'no-repeat', 'url(/assets/images/mao-skin.jpg)')">猫头鹰</a></li>
                            <li><a class="cp" (click)="changeSkin('#f7f4ef', 'no-repeat', 'url(/assets/images/dog-skin.jpg)')">小花狗</a></li>
                            <li><a class="cp" (click)="changeSkin('#fcc5dc', 'no-repeat', 'url(/assets/images/flower-skin.jpg)')">玫瑰花</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<router-outlet></router-outlet>
